@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body, html {
  font-family: 'Inter', sans-serif;
}

button {
  background: none;
  background-color: transparent;
  border: none;
}

.Countdown {
  font-size: 96px;
  background-image: url('cloud_graphic.svg');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7em;
  padding: 1em;
  

}

.Countdown h1 {
  margin-top: 1em; /* Adjust this value to move the text further down */
}

.Controls{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.Controls button{
  margin-top: 0;
  font-size: 25px;
  font-weight: bold;
  background-image: url('cloud_graphic.svg');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  
}