@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body, html {
  height: 100vw;
  margin: 0;
  padding: 0;
  background-color: #B4D9EF;
}

#root {
  height: 100vh;
  justify-content: center;
  align-items: center;
}
